


 

h1{
  color: white;
  font-family: "sans-serif",Times;
  font-style: bold;
  font-size: 80px;
  border: 7px solid white;
  margin:auto;
  padding:5px;
  height:250px;
  width:600px;
}



body {
  
  background-color: #C0C0C0;
  text-align:center;
  margin:auto;
  padding:auto;
  
 }
    
 
  
 
  p {
      font-family: serif, Times;
      font-style: bold;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin: auto;
      padding: auto;
    
  }
     
  .thumbnail {
      float: center;
      width:50px;
      height:50px;
      margin:auto;
      padding:40px;
    
        
  }



          
