body{
  background-color:#ccc;
  margin:1px;
  
}

.headerContainer{
    background: #679Fd2;
   
    height:70px;
    width:100%;
    border:0px;
    

   
}

.header{
  
 
  padding:0px;
  height:60px;
  border:0px;
  width:340px;
  float:left;
  
  
}
.header p {
    
   
    font-family: "sans-serif",Times;
    font-style:bold;
    font-size: 15px;
    padding:10px;
  
    text-align:center;
    color: black;
   
   
   
}

.navContainer{
  background: black;
  margin:0px;
  padding:0px;
  width:100%;
  height:26px;
  border:0px;
 
}

.nav{
  
  color:white;
 
  margin:0px;
 
  float:left;
}

.nav p{
  display:inline;
  font-family: "sans-serif",Times;
  font-size:13px;
  font-style:bold;
  text-align:center;

}

.blogContainer{
    background-color:#26537C;
    width:1140px;    
    border:0px;
    padding:0px;
    height:600px;
    margin-right:0px;
    margin-left:0px;
    float:left;
}
  
.blog{
  

  
  font-family: "sans-serif",Times;
  font-size:20px;
  color:white;
  
 
}

.Entry{
  
  width:auto;
  font-family:Times;
  font-size:;
  font-style:;
  color:white;
  margin:0px;
  padding:0px;
  border:0px;
}

.Date{
  
  width:auto;
  font-family:"sans-serif",Times;
  font-size:;
  font-style:;
  color:white;
  
}

.Content{
  width:800px;
 
  
  font-family:"sans-serif",Times;
  font-size:20px;
  font-style:bold;
  color:white;
  border:0px;
  
}




.pageNavContainer{
   background-color:#3C9DD0;
   width:207px;
   border:0px;
   margin:0px;
   height:710px;
   padding:0px;
   float:right;
  
}
.pageNav{

  background-color:408DD2;
  font-family: "sans-serif",Times;
  font-size: 20px;
  border:0px;
  width:180px;
  margin:0px;


}

.navContent {
  width:60px;
  font-family:"sans-serif",Times;
  font-size:20px;
  font-style:bold;
  text-align:center;
  margin:40px;
  


}

.postLnks{
  width:60px;
  font-family:"sans-serif",Times;
  font-size:15px;
  font-style:bold;
  color:white;
  text-align:right;
  
}

.aboutme{

  width:40px;
  font-family:"sans-serif",Times;
  font-size:15px;
  font-style:bold;
  color:black;
  text-align:right;
  margin:50px;

  
}

.meContent{
   
  font-family:"sans-serif",Times;
  font-size:8px;
  font-style:bold;
  color:black;
  text-align:right;
  margin:50px;
 
  
}