body{
  background-color:#ccc;
  margin-top:auto;
  margin-left:auto;
}

.headerContainer{
    background: red;
  
    height:40px;
    width:100%;

   
}

.header {
    
  
    font-family: "sans-serif",Times;
    font-style:bold;
    font-size: 15px;
    float:left;
    margin:0 auto;
   
    text-align:center;
    color: black;
   
   
}

.quicknavContainer{
  background: black;
  margin:0px;
  padding:10px;
  width:100%;
  height:20px;
  border:0px;
}

.quicknav{
  
  font-family: "sans-serif",Times;
  font-size:20px;
  font-style:bold;
  float:left;
  
  color: white;
  text-align:left;
 
 
}

.blogContainer{
   background:blue;
   width:70%;
   border:0px;
   padding:0px;
   border:0px;
   height:800px;
}
  
.blog{
  float:left;
 
  
  font-family: "sans-serif",Times;
  font-size:20px;
  color:black;
  
 
}

.navigationContainer{
   background:yellow;
   width:30%;
   border:0px;
   margin:0px;
   height:730px;
   padding:0px;
}
.navigation{

 
  font-family: "sans-serif",Times;
  font-size: 20px;
  float:right;
  

 
}
